name: Validate and Deploy Portfolio

# cada que el archivo haya un  cambio en la rama main
on: 
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write


jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install HTMLHint   # archivos validadores de HTML
        run: npm install -g htmlhint

      - name: Validate HTML
        run: htmlhint "/*.html"

deploy:
  needs: validate
  runs-on: ubuntu-latest
  environment:
    name: github-pages
  steps:
    - uses: actions/checkout@v4
    - uses: actions/configure-pages@v5
    - uses: actions/upload-pages-artifact@v3
      with:
        path: .
    - uses: actions/deploy-pages@v4